body {
    background-image: url("https://media.istockphoto.com/id/465115650/photo/doing-push-ups.jpg?s=612x612&w=0&k=20&c=H_bJ1LAqBUe6NT9IV_s3rHOvPX5NAcXv9gWL0_O6X1U=");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;;
    font-weight: bold;
    text-align: center;

}



h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: crimson;
    
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Sixtyfour', sans-serif;
    color: red;
    text-shadow: 1p 3p 1px black;
    
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    
}

#increment-btn:hover{
    background-color: rgb(253, 7, 7);
}
#save-btn:hover{
    background-color:  rgb(19, 234, 19);         
}

#reset-btn:hover{
    background-color:rgb(255, 183, 0); ;
}

p{
    color: yellow;
}

#increment-btn {
    background: darkred;
}
#reset-btn{
    
    background: darkgoldenrod;
}
#save-btn {
    background: darkgreen;
}

